/EJBRemoteInterface/nbproject/private/
/EJBRemoteInterface/EJBRemoteInterface-ejb/nbproject/private/
/EntAppEJB/nbproject/private/
/EntAppEJB/EntAppEJB-ejb/nbproject/private/
/EntAppEJB/EntAppEJB-ejb/build/
/EntAppEJB/build/
/EJBRemoteInterface/dist/
/EJBRemoteInterface/build/
/EntAppEJB/EntAppEJB-ejb/dist/
/EntAppEJB/dist/
/EntAppClient/nbproject/private/
/EntAppClient/build/
/EntAppClient/dist/
/NewsApp/nbproject/private/
/NewsApp/NewsApp-war/nbproject/private/
/NewsApp/NewsApp-ejb/nbproject/private/
/SayHelloInterface/nbproject/private/
/SayHelloClient/nbproject/private/
/SayHelloEJB/nbproject/private/
/SayHelloEJB/SayHelloEJB-ejb/nbproject/private/
/SayHelloInterface/build/
/SayHelloClient/build/
/SayHelloEJB/SayHelloEJB-ejb/build/
/SayHelloInterface/dist/
/SayHelloEJB/build/
/SayHelloEJB/SayHelloEJB-ejb/dist/
/SayHelloEJB/dist/