/EJBRemoteInterface/nbproject/private/
/EJBRemoteInterface/EJBRemoteInterface-ejb/nbproject/private/
/EntAppEJB/nbproject/private/
/EntAppEJB/EntAppEJB-ejb/nbproject/private/
/EntAppEJB/EntAppEJB-ejb/build/
/EntAppEJB/build/
/EJBRemoteInterface/dist/
/EJBRemoteInterface/build/
/EntAppEJB/EntAppEJB-ejb/dist/
/EntAppEJB/dist/
/EntAppClient/nbproject/private/
/EntAppClient/build/
/EntAppClient/dist/
/NewsApp/nbproject/private/
/NewsApp/NewsApp-war/nbproject/private/
/NewsApp/NewsApp-ejb/nbproject/private/
/SayHelloInterface/nbproject/private/
/SayHelloClient/nbproject/private/
/SayHelloEJB/nbproject/private/
/SayHelloEJB/SayHelloEJB-ejb/nbproject/private/
/SayHelloInterface/build/
/SayHelloClient/build/
/SayHelloEJB/SayHelloEJB-ejb/build/
/SayHelloInterface/dist/
/SayHelloEJB/build/
/SayHelloEJB/SayHelloEJB-ejb/dist/
/SayHelloEJB/dist/
/NewsApp/NewsApp-ejb/build/
/NewsApp/NewsApp-ejb/dist/
/NewsApp/NewsApp-war/build/
/NewsApp/build/
/NewsApp/NewsApp-war/dist/
/SayHelloTest/nbproject/private/
/SayHelloTest/SayHelloTest-war/nbproject/private/
/SayHelloTest/SayHelloTest-ejb/nbproject/private/
/SayHelloTest/SayHelloTest-ejb/build/
/SayHelloTest/SayHelloTest-war/build/
/SayHelloTest/build/
/SayHelloTest/SayHelloTest-ejb/dist/
/SayHelloTest/SayHelloTest-war/dist/
/SayHelloTest/dist/
/SayHelloTestClient/nbproject/private/
/Test/nbproject/private/
/Test/Test-war/nbproject/private/
/Test/Test-ejb/nbproject/private/
/Shout-Interface/nbproject/private/
/Shout-GUI-Client/nbproject/private/
/Shout/nbproject/private/
/Shout/Shout-war/nbproject/private/
/Shout/Shout-ejb/nbproject/private/
/Shout/Shout-ejb/build/
/Shout/Shout-war/build/
/Shout/build/
/Shout/Shout-ejb/dist/
/Shout/Shout-war/dist/
/Shout-Interface/dist/
/Shout-Interface/build/
/Shout/dist/
/Shout-GUI-Client/build/
/Quiz1Account-Client/nbproject/private/
/Quiz1Account-Interface/nbproject/private/
/Quiz1Account/nbproject/private/
/Quiz1Account/Quiz1Account-war/nbproject/private/
/Quiz1Account/Quiz1Account-ejb/nbproject/private/
/SimpleJPA/nbproject/private/
/SimpleJPA/build/